<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="nav" style="background-color:     #99ddff;">
  <div class="nav-header">
    <div class="nav-title">
      <a href="{% url 'BH5_Floor4' %}">Seat Layout</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
    <div class="row">
        <div>
          <div class="grid">

              <table class="table1">
          <tr>
            <td colspan="33" id="walk">  </td>
          </tr>
          <tr>
            <td colspan="33" id="walk">  </td>
          </tr>

           <tr>
        
                 <td colspan="4" id="walk">  </td>
                
                 <td><div id="block"><b>Windows</b></div></td>
              
                 <td colspan="6" id="walk">  </td>
                  <td><div id="block"><b>Door</b></div></td>

             </tr>



          <td><div id="seat24" class="A10" data-toggle="tooltip" data-placement="right" title="A10">A10</div></td>
                 <td><div id="seat24" class="A9" data-toggle="tooltip" data-placement="right" title="A9">A9</div></td>
                 <td><div id="seat24" class="A8" data-toggle="tooltip" data-placement="right" title="A8">A8</div></td>
                 <td><div id="seat24" class="A7" data-toggle="tooltip" data-placement="right" title="A7">A7</div></td>
                 <td><div id="seat24" class="A6" data-toggle="tooltip" data-placement="right" title="A6">A6</div></td>
                 <td><div id="seat24" class="A5" data-toggle="tooltip" data-placement="right" title="A5">A5</div></td>
                 <td><div id="seat24" class="A4" data-toggle="tooltip" data-placement="right" title="A4">A4</div></td>
                 <td><div id="seat24" class="A3" data-toggle="tooltip" data-placement="right" title="A3">A3</div></td>
                 <td><div id="seat24" class="A2" data-toggle="tooltip" data-placement="right" title="A2">A2</div></td>
                 <td><div id="seat24" class="A1" data-toggle="tooltip" data-placement="right" title="A1">A1</div></td>

           </tr>
                 <td><div id="seat23" class="A20" data-toggle="tooltip" data-placement="right" title="A20">A20</div></td>
                 <td><div id="seat23" class="A19" data-toggle="tooltip" data-placement="right" title="A19">A19</div></td>
                 <td><div id="seat23" class="A18" data-toggle="tooltip" data-placement="right" title="A18">A18</div></td>
                 <td><div id="seat23" class="A17" data-toggle="tooltip" data-placement="right" title="A17">A17</div></td>
                 <td><div id="seat23" class="A16" data-toggle="tooltip" data-placement="right" title="A16">A16</div></td>
                 <td><div id="seat23" class="A15" data-toggle="tooltip" data-placement="right" title="A15">A15</div></td>
                 <td><div id="seat23" class="A14" data-toggle="tooltip" data-placement="right" title="A14">A14</div></td>
                 <td><div id="seat23" class="A13" data-toggle="tooltip" data-placement="right" title="A13">A13</div></td>
                 <td><div id="seat23" class="A12" data-toggle="tooltip" data-placement="right" title="A12">A12</div></td>
                 <td><div id="seat23" class="A11" data-toggle="tooltip" data-placement="right" title="A11">A11</div></td>
          <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
                <td id="walk">  </td>
                 <td id="walk">  </td>

                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 
                <td colspan="25" id="walk">  </td>
                 <td>  </td>
                 <td>  </td>

             </tr>

        <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
                <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 
                 <td colspan="25" id="walk">  </td>
                 <td>  </td>
                 <td>  </td>

             </tr>
          
             <tr>
               <td id="walk">  </td>
               <td id="walk">  </td>
                <td id="walk">  </td>
                 <td id="walk">  </td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td><div id="seatS"></div></td>
                 <td colspan="25" id="walk">  </td>

                 <td>  </td>
                 <td>  </td>

             </tr>
             
           <td><div id="seat23" class="B30" data-toggle="tooltip" data-placement="right" title="B30">B30</div></td>
                 <td><div id="seat23" class="B29" data-toggle="tooltip" data-placement="right" title="B29">B29</div></td>
                 <td><div id="seat23" class="B28" data-toggle="tooltip" data-placement="right" title="B28">B28</div></td>
                 <td><div id="seat23" class="B27" data-toggle="tooltip" data-placement="right" title="B27">B27</div></td>
                 <td><div id="seat23" class="B26" data-toggle="tooltip" data-placement="right" title="B26">B26</div></td>
                 <td><div id="seat23" class="B25" data-toggle="tooltip" data-placement="right" title="B25">B25</div></td>
                 <td><div id="seat23" class="B24" data-toggle="tooltip" data-placement="right" title="B24">B24</div></td>
                 <td><div id="seat23" class="B23" data-toggle="tooltip" data-placement="right" title="B23">B23</div></td>
                 <td><div id="seat23" class="B22" data-toggle="tooltip" data-placement="right" title="B22">B22</div></td>
                 <td><div id="seat23" class="B21" data-toggle="tooltip" data-placement="right" title="B21">B21</div></td>

           </tr>

           <td><div id="seat22" class="B20" data-toggle="tooltip" data-placement="right" title="B20">B20</div></td>
                 <td><div id="seat22" class="B19" data-toggle="tooltip" data-placement="right" title="B19">B19</div></td>
                 <td><div id="seat22" class="B18" data-toggle="tooltip" data-placement="right" title="B18">B18</div></td>
                 <td><div id="seat22" class="B17" data-toggle="tooltip" data-placement="right" title="B17">B17</div></td>
                 <td><div id="seat22" class="B16" data-toggle="tooltip" data-placement="right" title="B16">B16</div></td>
                 <td><div id="seat22" class="B15" data-toggle="tooltip" data-placement="right" title="B15">B15</div></td>
                 <td><div id="seat22" class="B14" data-toggle="tooltip" data-placement="right" title="B14">B14</div></td>
                 <td><div id="seat22" class="B13" data-toggle="tooltip" data-placement="right" title="B13">B13</div></td>
                 <td><div id="seat22" class="5402" data-toggle="tooltip" data-placement="right" title="B12">B12</div></td>
                 <td><div id="seat22" class="B11" data-toggle="tooltip" data-placement="right" title="B11">B11</div></td>
                 <td id="walk">  </td>
                 <td><div id="seat30" class="Driver" data-toggle="tooltip" data-placement="right" title="Driver">DRIVER</div></td>

           </tr>
                 <td><div id="seat24" class="B10" data-toggle="tooltip" data-placement="right" title="B10">B10</div></td>
                 <td><div id="seat24" class="B9" data-toggle="tooltip" data-placement="right" title="B9">B9</div></td>
                 <td><div id="seat24" class="B8" data-toggle="tooltip" data-placement="right" title="B8">B8</div></td>
                 <td><div id="seat24" class="B7" data-toggle="tooltip" data-placement="right" title="B7">B7</div></td>
                 <td><div id="seat24" class="B6" data-toggle="tooltip" data-placement="right" title="B6">B6</div></td>
                 <td><div id="seat24" class="B5" data-toggle="tooltip" data-placement="right" title="B5">B5</div></td>
                 <td><div id="seat24" class="B4" data-toggle="tooltip" data-placement="right" title="B4">B4</div></td>
                 <td><div id="seat24" class="B3" data-toggle="tooltip" data-placement="right" title="B3">B3</div></td>
                 <td><div id="seat24" class="B2" data-toggle="tooltip" data-placement="right" title="B2">B2</div></td>
                 <td><div id="seat24" class="B1" data-toggle="tooltip" data-placement="right" title="B1">B1</div></td>


               <tr>
        
                 <td colspan="4" id="walk">  </td>
                
                 <td><div id="block"><b>Windows</b></div></td>
                 <br></br>
                 <td colspan="6" id="walk">  </td>
                  <td><div id="block"><b>Door</b></div></td>

             </tr>




         </table>
      </div>
      <br>
      <div class="menu" style="font-family:Georgia, serif;">
        <br></br><br></br><br></br><br></br>
            <table class="table2">
             
              <th>Seats</th>
              <tr>
              <td colspan="2" id="walk">  </td>
              </tr>
            <tr>
              <td><div id="seat1"></div></td>
              <td>=> A1 - A10 Window Seats on  Right</td>
            </tr>
            <tr>
              <td colspan="2" id="walk">  </td>
            </tr>
            <tr>
              <td><div id="seat1"></div></td>
              <td>=> B1 - B10 Window Seats on  Left</td>
            </tr>
            <tr>

              <tr>
              <td><div id="seat25"></div></td>
              <td>=> B10 - B20 Middle Seats on  Left</td>
            </tr>
            <tr>
              <td><div id="seat2"></div></td>
              <td>=> A10 - A20 Inner Seats on  Right</td>
            </tr>
            <tr>
              <tr>
              <td><div id="seat2"></div></td>
              <td>=> B21 - B30 Inner Seats on  Left</td>
            </tr>
            <tr>

             <tr>
              <tr>
              <td><div id="seat9"></div></td>
              <td>=> Driver's Seat</td>
            </tr>
            <tr>
          </table>
          <br>
          <br>
          <button type="button" class="button-custom" style="float:left;">
          <a href="{% url 'select' %}">Reserve Seat</a></button>
          </div>
        </div>
<br>


</div>
  <script>
var myNodelist = document.querySelectorAll("#seat");

for(var i = 0; i < myNodelist.length; i++)
{
  var num = 2;
  var x = myNodelist[i].classList;
  var y = x.item(0);
  {% if rooms %}
  {% for room in rooms %}
  var number = {{room.no}};
        if(y == number)
        {
          {% if room.vacant %}
          num--;
          {% endif %}
        }
  {% endfor %}
  {% endif %}
  if(num==2){
  myNodelist[i].style.backgroundColor = "steelblue";
  }
  else if(num==1){
  myNodelist[i].style.backgroundColor = "#b8c6dd";
  }
  else{
  myNodelist[i].style.backgroundColor = "#eff5f7";
  }
  var z = myNodelist[i].classList;
}
var myNodelist = document.querySelectorAll("#seatS");

for(var i = 0; i < myNodelist.length; i++)
{
  var num = 1;
  var x = myNodelist[i].classList;
  var y = x.item(0);
  {% if rooms %}
  {% for room in rooms %}
  var number = {{room.no}};
        if(y == number)
        {
          {% if room.vacant %}
          num--;
          {% endif %}
        }
  {% endfor %}
  {% endif %}
  if(num==1){
  myNodelist[i].style.backgroundColor = "#b8c6dd";
  }
  else{
  myNodelist[i].style.backgroundColor = "#c9c6c3";
  }
  var z = myNodelist[i].classList;
}
</script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock content %}
</html>
