
{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <form action="" method="post">
        {% csrf_token %}
      <div class="fields"><h3><b style="font-family:Inconsolata;"> Passenger Name</b></h3> {{ form.passenger_name }}</div>
      <div class="fields"> <h3><b style="font-family:Inconsolata;"> Journey From</b></h3> {{ form.journeyfrom }}</div>
      <div class="fields"><h3><b style="font-family:Inconsolata;"> Journey To</b></h3>{{ form.journeyto }}</div>
      <div class="fields"><h3><b style="font-family:Inconsolata;"> Date of birth (yyyy-mm-dd)</b></h3>{{ form.dob }}</div>
      <div class="fields"> <h3><b style="font-family:Inconsolata;"> Gender</b></h3>{{ form.gender }}</div>
      <input class="button-custom" type="submit" value="DONE">
    </form>
  </div>
{% endblock content %}


{% block more_links %}
<a href="{% url 'ShowopenSeats' %}">
            Open Tickets</a>
<a href="{% url 'ShowClosedSeats' %}">
            Closed Tickets</a>
    <a href="{% url 'edit' %}">
            Update Your Details
        </a>
        <a href="{% url 'select' %}">
            Select a Seat
        </a>
        <a href="{% url 'logout' %}">
            Logout
        </a>
{% endblock more_links %}