{% extends 'base.html' %}

{% block content %}
<div class="wrap">
    <a class="button-custom" href="{% url 'reg_form' %}">
        Register (Passenger)
    </a>
    <a class="button-custom" href="{% url 'login' %}">
        Login (Passenger)
    </a>
    <a class="button-custom" href="{% url 'index' %}">
        Login (Admin)
    </a>
  </div>
{% endblock content %}


{% block more_links %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'reg_form' %}">Register</a>
{% endblock more_links %}
