{% extends 'base.html' %}

{% block content %}

    <div class="wrapper">
        <div class="table">

            <div class="row">
                <div class="cell">
                    Name
                </div>
                <div class="cell">
                    {{ passenger.passenger_name }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Journey_from
                </div>
                <div class="cell">
                    {{ passenger.journeyfrom }}
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Journey_to
                </div>
                <div class="cell">
                    {{ passenger.journeyto }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Date of birth (yyyy-mm-dd)
                </div>
                <div class="cell">
                    {{ passenger.dob }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Gender
                </div>
                <div class="cell">
                    {{ passenger.gender }}
                </div>
            </div>

            <div class="row">
                <div class="cell">
                    Seat
                </div>
                <div class="cell">
                    {% if  passenger.seat_allotted %} {{ passenger.seat }} in {{  passenger.seat.hostel }}
                    {% else %} Not Allotted
                    {% endif %}
                </div>
            </div>


        </div>
        <a class="button-custom" href="{% url 'select' %}">
            Select a Seat
        </a>
    </div>

{% endblock content %}


{% block more_links %}
<a href="{% url 'ShowopenSeats' %}">
            Open Tickets</a>
<a href="{% url 'ShowClosedSeats' %}">
            Closed Tickets</a>
    <a href="{% url 'edit' %}">
            Update Your Details
        </a>
        <a href="{% url 'select' %}">
            Select a Seat
        </a>
        <a href="{% url 'logout' %}">
            Logout
        </a>
{% endblock more_links %}