{% extends 'base.html' %}

{% block content %}
{% for message in messages %}
                    <div class="alert alert-success"><a  class="close" href="" data-dismiss="alert">×</a><right><font color="steelblue">  {{ message }} </font></right></div>
            {% endfor %}
<div class="wrap">
    <form action="" method="post">
        {% csrf_token %}
      <div class="fields"> <h2><b style="font-family:Inconsolata;"> Username</b></h2> {{ form.username }}</div>
      <div class="fields"> <h2><b style="font-family:Inconsolata;"> Password</b></h2> {{ form.password1 }}</div>
      <div class="fields"> <h2><b style="font-family:Inconsolata;"> Repeat Password</b></h2>{{ form.password2 }}</div>
      <input class="button-custom" type="submit" value="REGISTER">
    </form>
  </div>
{% endblock content %}
